        <div class="jumbotron text-center" id="jumbo">
            <div class="container">
                <form id="feed" method="POST" action="/create">
                    <h3>EAT ME!!! :)</h3>
                    <label for="feed-tray"></label>
                    <input type="text" id="feed-tray" name="eat">
                    <button type="submit">EAT!!!</button>
                </form>
            </div>
            <div class="container">
                <div class="row">
                    <div id="served" class="col-xs-6">
                        <ul>
                            {{#each Burgers}}
                                {{#unless this.devoured}}
                                    <li>
                                        <h3 id="/{{this.Burger_name}}" >{{this.Burger_name}}</h3>
                                        <button id="{{this.Burger_name}}" type="button" class="btn btn-primary">DEVOUR ME!</button>
                                    </li>
                                {{/unless}}
                            {{/each}}
                        </ul>
                    </div>
                    <div id="gone" class="col-xs-6">
                        <ul>
                            {{#each Burgers}}
                                {{#if this.devoured}}
                                    <li>
                                        <h3 id="/{{this.Burger_name}}" >{{this.Burger_name}}</h3>
                                        <button id="{{this.Burger_name}}" type="button" class="btn btn-primary">PUKE ME!</button>
                                    </li>
                                {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>